@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');
* {
    box-sizing: border-box;
}

p img{
      max-width: 500px;
}
@media screen and (max-width: 767px) {
    * {
        margin: 0;
    }
    p img {
      height: auto;
    }

    html, body {
        height: 100%;
    }

    body{
        display:flex;
        flex-direction:column;
    }


    footer {
        background-color: #333;
        text-align: center;
        margin-top:auto;
    }

    footer > img {
        height: 40px;
    }

    header > h1 {
        margin: 0;
        padding: 1em;
        color: white;
        text-align: center;
    }
    ul:hover > li{
        display: block;
    }
     body > header {
background-image: linear-gradient(to top, rgb(227, 103, 53),rgb(246, 192, 166));
    }
    nav {
        text-align: center
    }

     ul {
         clear: left;
         padding-left: 0;
                 list-style-type: none;
    }

    nav ul li {
        display: none;
        list-style: none;
        background-color: #333;
    }
    .hamburger {
        display: block;

    }
    li a {

      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
        font-weight: bold;
    }

    li a:hover {
      background-color: #111;
    }

    li.active a{
        color: coral;
        background-color: white;

    }
        td, th {
        border: medium solid #000000;
        width: 10%;
        text-align: center
    }
        main{
        margin-top: 20px  ;
        margin-left : 10px;
        margin-right: 10px;
    }
    h2{
        border-bottom: outset;
        border-bottom-color: gray;
    }
        header > p {
        text-align: right;
        font-style: italic;
        color: gray;
        padding-bottom: 20px;
    }
    aside{
        box-shadow: 1px 1px 12px #555;
    }

    aside  h3{
        background-color: coral;
        color: white;
        padding: .2em;
    }

    aside ul{
        padding: .5em;
        background-color: white;

    }
     p{
        padding-bottom: 15px;
    }
        table{
        padding-bottom: 20px;
    }
        h3{
        padding-bottom: 10px;
    }

}

