@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');
* {
    box-sizing: border-box;
}

p img{
   text-align: center;
      width: 100%;

}

@media screen and (min-width: 768px) {
    * {
        margin: 0;
    }

    html, body {
        height: 100%;
    }

    body{
        display:flex;
        flex-direction:column;
    }


    footer {
        background-color: #333;
        text-align: center;
        margin-top:auto;
    }

    footer > img {
        height: 40px;
    }

    header > h1 {
        margin: 0;
        padding: 1em;
        color: white;
        text-align: center;

    }

    body > header{
background-image: linear-gradient(to top, rgb(227, 103, 53),rgb(246, 192, 166));
    }

    .hamburger {
        display: none;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-weight: bold;
    }

    li a:hover {
        background-color: #111;
    }

    li.active a{
        color: coral;
        background-color: white;
    }

    header > p {
        text-align: right;
        font-style: italic;
        color: gray;
        padding-bottom: 20px;
    }

    td, th {
        border: medium solid #000000;
        width: 10%;
        text-align: center
    }
    main{

        margin-top: 40px  ;
        margin-left : 20px;
        margin-right: 20px;
    }
    h2{
        border-bottom: outset;
        border-bottom-color: gray;
    }

    aside{
        margin-left: 80%;
        box-shadow: 1px 1px 12px #555;
    }

    aside  h3{
        background-color: coral;
        color: white;
        padding: .2em;
    }

    aside ul{
        padding: .5em;
        background-color: white;

    }

